
*.lock
.vs
.vs/
.vs/ImprezGarage/v15/Server/sqlite3/storage.ide-wal
.vs/ImprezGarage/v15/Server/sqlite3/storage.ide
.vs/ImprezGarage/v15/Server/sqlite3/storage.ide-shm
.vs/ImprezGarage/v15/.suo

[Bb]in/
[Oo]bj/
*.suo
*.cache
*.dbmdl
*.jfm
Src/Modules/ImprezGarage.Modules.FirebaseAuth/DemoAccountDetails.cs
.vs/ImprezGarage/v15/.suo
Src/Modules/ImprezGarage.Modules.Firebase/ConnectionCredentials.cs
